## IDEs and editors
# NetBeans
nbproject/
# JetBrains CLion
.idea/*
!.idea/codeStyles/
# Visual Studio Code
.vscode/
# Vim
*.swp
# clangd cache directory
.cache/

# clangd cache
.cache/

## Build folders
build/
build_*/
install/
install_*/

