/* Form labels */

.formElement {
    display: block;
    margin: 2px;
    padding: 4px;
}

.formElement .formLabel {
    display: inline-block;
    margin-left: 5px;
    padding-right: 6px;
    width: 200px;
}

.formElement .formLabel.bold {
    font-weight: bold;
}

#login-form {
    display: block;
    position: relative;
    top: 25%;
    margin: 0 auto;
    width: 20%;
    background-color: #edf4fa;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 5px;
}

#login-form .mbox.mbox-error {
    background-color: white;
}

#login-form .login-prompt {
    font-weight: bold;
    font-size: 12pt;
    display: inline-block;
    margin-bottom: 18px;
}

#login-form .formElement .form-input {
    width: 100%;
}

.hide {
    display: none !important;
}

.mbox {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    margin-bottom: 12px;
}

.mbox .heading {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 8px;
}

/* Error message box. */

.mbox.mbox-error {
    border-color: #e92625;
    padding: 5px;
}

.mbox.mbox-error .heading {
    color: #e92625;
}

/* Success message box. */

.mbox.mbox-success {
    border-color: #669603;
}

.mbox.mbox-success .heading {
    color: #669603;
}
